@charset "UTF-8";

/* Fontes */
@font-face {
    font-family: montbold;
    src: url("../_font/Montserrat-Bold.ttf");
}
@font-face {
    font-family: montlight;
    src: url("../_font/Montserrat-Light.ttf");
}
@font-face {
    font-family: montmedium;
    src: url("../_font/Montserrat-Medium.ttf");
}
@font-face {
    font-family: montregular;
    src: url("../_font/Montserrat-Regular.ttf");
}


/* Geral */
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: montregular, sans-serif;
    color: #ffffff;
}

#homeinterface {
    background-image: url("../_img/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#downinterface {
    background-image: url("../_img/background2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logininterface {
    background-image: url("../_img/background3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Conteúdo */
.conteudo {
    position: absolute;
    float: left;
    width: 100%;
    bottom: -1%;
}

img#oldman {
    margin: 12% auto 0 18%;
    width: 25%;
}
img#hipster{
    margin: 12% auto 0 18%;
    width: 17%;
}

#painelhome {
    position: relative;
    width: 35%;
    float: right;
    margin: 15% 15% auto auto;
}
#paineldown {
    position: relative;
    float: right;
    width: 33%;
    border-radius: 5px;
    background-color: rgba(47, 27, 65, 0.7);
    z-index: 1;
    text-align: center;
    padding: 3% 2%;
    margin: 7% 20% auto auto;
}

.button:hover {
    background-color: #fc5339;
    font-family: montbold, sans-serif;
    color: #2F1B41;
    box-shadow: 0 0 1px 1px #fc5339;
}

.button_down:hover {
    background-color: #fc5339;
    font-family: montbold, sans-serif;
    color: #2F1B41;
    box-shadow: 0 0 1px 1px #fc5339;
}


/* Rodapé */
.rodape{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

#copy {
    font-size: 75%;
    color: #DADADA;
    opacity: 0.4;
    margin-left: 1%;
}

#copy_down {
    font-size: 75%;
    color: #DADADA;
    opacity: 0.4;
    text-align: right;
    margin-right: 2%;
}

.button_voltar{
    position: relative;
    float: left;
    top: -15px;
    left: 2%;
    width: 105px;
    height: 35px;
    background-color: #F05941;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: montbold, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.button_voltar:hover {
    background-color: #fc5339;
    font-family: montbold, sans-serif;
    color: #2F1B41;
    box-shadow: 0 0 1px 1px #fc5339;
}


/* Responsividade */
@media screen and (min-width: 1870px) {/* (1920x1080) Full HD Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 200%;
        color: #DADADA;
    }

    .button {
        width: 205px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .button_down {
        width: 645px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 40px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 23px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 205px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1648px) and (max-width: 1869px) {/* (1680x1050) WSXGA+ Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 53px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 29px;
        color: #DADADA;
    }

    .button {
        width: 179px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .button_down {
        width: 566px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 38px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 190px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1568px) and (max-width: 1647px) {/* (1600x900) HD+ Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 27.4px;
        color: #DADADA;
    }

    .button {
        width: 170px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .button_down {
        width: 538px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 35px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 170px;
        height: 45px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1398px) and (max-width: 1567px) {/* (1440x900) WXGA+ Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 44px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 24.5px;
        color: #DADADA;
    }

    .button {
        width: 150px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .button_down {
        width: 478px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 30px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 17px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 150px;
        height: 40px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 17px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1320px) and (max-width: 1397px) {/* (1366x768) WXGA Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 41px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 23px;
        color: #DADADA;
    }

    .button {
        width: 141px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    .button_down {
        width: 451px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 30px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 17px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 150px;
        height: 40px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 17px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1234px) and (max-width: 1319px) {/* (1280x720) SXGA Display */
    h1 {
        position: relative;
        font-family: montbold, sans-serif;
        font-size: 38px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
    }

    h2 {
        position: relative;
        font-family: montregular, sans-serif;
        font-size: 21.4px;
        color: #DADADA;
    }

    .button {
        width: 131px;
        height: 45px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
    }

    .button_down {
        width: 421px;
        height: 50px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 24px;
        text-transform: uppercase;
    }

    #paineldown h2{
        font-family: montbold, sans-serif;
        font-size: 29px;
        margin-bottom: 50px;
    }

    #paineldown p{
        font-family: montmedium, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        margin: 20px auto;
    }

    .down_button {
        width: 130px;
        height: 40px;
        background-color: #F05941;
        border: none;
        border-radius: 5px;
        margin: 8px 5px;
        color: white;
        font-family: montbold, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
    }
}
